.header {
  height: 293px;
  display: grid;
  align-items: center;
  grid-template-columns: 
  1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-style: normal;
  font-size: 18px;
  color: #000;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  max-width: 235px;
  height: 98px;
  margin-right: 5px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-underline-offset: 4px;
  font-style: normal;
  font-size: 18px;
  list-style: none;
  line-height: 24.3px;
}

.cover {
  display: flex;
  position: relative;
  inset: 0;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 757px;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.corev__title {
  text-transform:uppercase;
  font-style: bold;
  font-size: 100px;
  z-index: 50;
  color: #fff;
  margin: 165px 50px 100px 50px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  text-align: start;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
  margin-top: -3px;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  text-align: end;
  letter-spacing: 0.3em;
  margin-top: -3px;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 656px 50px 50px 50px;
  z-index: 50;
}

.cover__description-text {
  word-spacing: 18px;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  color:#fff;
  margin-right: 110px;
}

.bet-button {
  all:unset;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  font-style: normal;
  padding: 12px 31px;
}

.lots {
  min-height: 723px;
}

.lots__heading {
  margin-left: 64px;
  font-size: 40px;
  font-style: bold;
  text-transform: uppercase;
  color:#000;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: start;
  margin: 0 24px 0 24px;
  list-style: none;
  gap: 25px 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  
  all:unset;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: absolute;
  top: 48px;
  left: 40px;
  right: 40px;
  font-style: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #fff;
}

.card__text {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 48px;
  font-style: normal;
  font-size: 20px;
  color: #fff;
}

.lots__look-more-link {
  margin-left: 64px;
  font-size: 20px;
  font-style: normal;
  color:#000;
  text-underline-offset: 4px;
}

.about {
  display: block;
  margin: 120px 24px 0 24px;
  min-height: 595px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
}

.columb__left {
  justify-self: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.columb__right {
  padding: 133px 5px 0 25px;
}

.about__title {
font-style: bold;
font-size: 40px;
text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 24px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
}

.footer__address {
  justify-content: start;
}

.footer__menu {
  justify-content: center;
}

.footer__menu-list {
  text-align: center;
  font-style: normal;
  font-size: 18px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-content: end;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
}